<h1>Editing member event</h1>

<%= render "form", member_event: @member_event %>

<br>

<div>
  <%= link_to "Show this member event", @member_event %> |
  <%= link_to "Back to member events", member_events_path %>
</div>
