<h2>Editing Activity</h2>

<%= render "form", member_event: @member_event %>

<br>

<div>
  <%= link_to "Show this activity", @member_event %> |
  <%= link_to "Back to activities", member_events_path %>
</div>