<%# title for services  %>
<% if @version == "1" %>
  <h1>New member event</h1>
<% end %>

<%# title for meetings %>
<% if @version == "2" %>
  <h1>Meeting Sign In</h1>
<% end %>

<%= render "form", member_event: @member_event %>

<br>

<div>
  <%= link_to "Back to member events", member_events_path %>
</div>
