<%# title for services  %>
<% if @version == "1" %>
  <h2>New Service Submission</h2>
<% end %>

<% if @version == "3" %>
  <h2>New Personal/Non-Event Submission</h2>
<% end %>

<%# title for meetings %>
<% if @version == "2" %>
  <h2>Meeting Sign In</h2>
<% end %>

<%= render "form", member_event: @member_event %>

<br>

<div>
  <%= link_to "Back to Activities", member_events_path %>
</div>