<div id="<%= dom_id committee %>">
  <p>
    <strong>Name:</strong>
    <%= committee.name %>
  </p>

  <p>
    <strong>Director:</strong>
    <% if committee.member.present? %>
      <%= committee.member.name %>
    <% else %>
      None
    <% end %>
  </p>

</div>
