<h1>Frequently Asked Questions</h1>
<h2>How do I sign in as a Administrator?</h2>
<p>To sign in as a Admin you have to know the password that is associated with it. The owner of the application should have a copy of the password.</p>
