<h1>Member Guide</h1>

<h2>First Time Login<h2>
<ul>
    <li>Log into website using tamu gmail account</li>
    <li>Wait for approval from Officers</li>
    <li>Once you have approval you can use the website</li>
</ul>

<h2>Home page<h2>
<ul>
    <li>on the home page will be able to view your personal information like position and point totals </p>
    <li>you should also be able to view your past events you have signed up for</li>
</ul>

<h2>Committes Page</h2>
<ul>
    <li>Allows you to view all the committees for Move TX </li>
    <li>In addition 'show this comittee' will let you view all the members in a certain comittee</li>
</ul>

<h2>Excuses Page</h2>
<ul>
    <li>view all you excuses for meetings </li>
    <li>create new excuse when needed</li>
</ul>

<h2>Events Page</h2>
<ul>
    <li>view all events for Move TX </li>
    <li>Filter events by event type, month, or year</li>
    <li>When selected a month you must have a year selected as well</li>
</ul>

<h2>Activities Page</h2>
<ul>
    <li>view services and Personal/Non-Event submissions along with meeting attendance </li>
    <li>Service Submission:
        <ul>
            <li>Select the event you want to submit for approval</li>
            <li>Select officer for approval. Note: need to have atleast one marked for aproval</li>
            <li>Choose your desired file if neccesary</li>
        </ul>
    </li>
    <li>Personal/Non-Event Submission:
        <ul>
            <li>Select the event you want to submit for approval</li>
            <li>Select officer for approval. Note: need to have atleast one marked for aproval</li>
            <li>Choose your desired file if neccesary</li>
            <li>Fill in Description if neccessary</li>
        </ul>
    </li>
    <li>Meeting Sign in:
        <ul>
            <li>Select the meeting you are signing up for</li>
            <li>Enter the password for the meeting. Note: will be given by officers during meeting</li>
        </ul>
    </li>
</ul>




<h1>Frequently Asked Questions for Officers</h1>
<h2>How do I sign in as a Administrator?</h2>
<p>To sign in as a Admin you have to know the password that is associated with it. The owner of the application should have a copy of the password.</p>

<h2>How do I create a new event? </h2>
<h2>How do I approve new members? </h2>

